#mask
{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
#box
{

	width: 400px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	resize:both;
	overflow:auto;
	border: 1px solid green;
}
#boxTitle
{
	width: 100%;
	height: 33.3%;
	background-color: pink;
	color: black;
	line-height: 60px;
	font-size: 20px;
	text-indent: 15px;
}
#boxContent
{
	width: 100%;
	height: 66.7%;
	background-color: #fff;
	text-indent: 15px;
	font-size: 20px;
	line-height: 40px;
}
#confirm,#cancel
{
	position: absolute;
	bottom: 10px;
	display: inline-block;
}
#confirm
{
	right: 80px;
}
#cancel
{
	right: 20px;
}